**Project Objective : Building an Regression model to predict the Homestay prices of Residential Properties**

In [3]:
import numpy as nump
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import matplotlib.style

In [56]:
## Importing The data
df = pd.read_excel("Air_BNB.xlsx")
df.head()

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,1.0,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,1.0,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,1.0,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,1.0,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,1.0,t,40.0,0.0,1.0,4.744932

In [63]:
#Dropping Host ID
df.drop('id',axis=1,inplace=True)

## Explore data

In [64]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_type             74106 non-null  object
 1   accommodates          74108 non-null  float64
 2   bathrooms             73908 non-null  float64
 3   cancellation_policy   74103 non-null  object
 4   cleaning_fee          74107 non-null  float64
 5   instant_bookable      74111 non-null  object
 6   review_scores_rating  57389 non-null  float64
 7   bedrooms              74019 non-null  float64
 8   beds                  73980 non-null  float64
 9   log_price             74111 non-null  float64
dtypes: float64(7), object(3)
memory usage: 5.7+ MB

In [65]:
round(df.describe(include='all'),2).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
room_type,74106,3,Entire home/apt,41308,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accommodates,74108.0,NaN,NaN,NaN,3.16,2.15,1.0,2.0,2.0,4.0,16.0
bathrooms,73908.0,NaN,NaN,NaN,1.24,0.58,0.0,1.0,1.0,1.0,8.0
cancellation_policy,74103,3,strict,32500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cleaning_fee,74107.0,NaN,NaN,NaN,0.73,0.44,0.0,0.0,1.0,1.0,1.0
instant_bookable,74111,2,f,54660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_scores_rating,57389.0,NaN,NaN,NaN,94.07,7.84,20.0,92.0,96.0,100.0,100.0
bedrooms,74019.0,NaN,NaN,NaN,1.27,0.85,0.0,1.0,1.0,1.0,10.0
beds,73980.0,NaN,NaN,NaN,1.71,1.25,0.0,1.0,1.0,2.0,18.0
log_price,74111.0,NaN,NaN,NaN,4.78,0.72,0.0,4.32,4.71,5.22,7.6

In [66]:
# EXPLORING 1 ATTRIBUTE:
print("Types of Room",df['room_type'].unique())
print("Number of Types",df['room_type'].nunique())
print("Counts of each",df['room_type'].value_counts())

Types of Room ['Entire home/apt' 'Private room' 'Shared room' nan]
Number of Types 3
Counts of each room_type
Entire home/apt    41308
Private room       30635
Shared room         2163
Name: count, dtype: int64

In [67]:
# lets check above properties for all "object" Attribute
for column in df.columns:
    if df[column].dtype == 'object':
        print(column.upper(),' : ',df[column].nunique())
        print(column.upper(),' : ',df[column].value_counts())
        print()

ROOM_TYPE  :  3
ROOM_TYPE  :  room_type
Entire home/apt    41308
Private room       30635
Shared room         2163
Name: count, dtype: int64

CANCELLATION_POLICY  :  3
CANCELLATION_POLICY  :  cancellation_policy
strict      32500
flexible    22543
moderate    19060
Name: count, dtype: int64

INSTANT_BOOKABLE  :  2
INSTANT_BOOKABLE  :  instant_bookable
f    54660
t    19451
Name: count, dtype: int64

## Data Cleaning

**Removing Duplicates**

In [75]:
df_2 = df.drop_duplicates()
df_2.shape

(54117, 10)

**Check Null & Work on it**

In [78]:
df_2.isnull().sum()

room_type                   5
accommodates                3
bathrooms                 195
cancellation_policy         8
cleaning_fee                4
instant_bookable            0
review_scores_rating    10215
bedrooms                   92
beds                      125
log_price                   0
dtype: int64